@import "lib/variables/global.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: var(--font-family-main);
  min-height: 100vh;
  background-color: var(--bg-color);
}
